#Using a whitelist to keep a clean repository
*

#Comment if you want to use your own git ignore locally

*.o
!.gitignore

!LICENSE.txt
!README.md
!TODO
!mainpage.dox
!common_link.pri

#core of the program
!core
!core/core.pro
!core/core.pri
!core/*.cpp
!core/*.h
!core/log
!core/log/*.cpp
!core/log/*.h
!core/file
!core/file/*.cpp
!core/file/*.h
!core/formatdetector
!core/formatdetector/*.cpp
!core/formatdetector/*.h
!core/interpreter
!core/interpreter/*.cpp
!core/interpreter/*.h
!core/interpreter/scope
!core/interpreter/scope/*.cpp
!core/interpreter/scope/*.h
!core/variable
!core/variable/*.cpp
!core/variable/*.h
!core/modules
!core/modules/default
!core/modules/default/*.cpp
!core/modules/default/*.h
!core/modules/ebml
!core/modules/ebml/*.cpp
!core/modules/ebml/*.h
!core/modules/hmc
!core/modules/hmc/*.cpp
!core/modules/hmc/*.h
!core/modules/mkv
!core/modules/mkv/*.cpp
!core/modules/mkv/*.h
!core/modules/standard
!core/modules/standard/*.cpp
!core/modules/standard/*.h
!core/modules/stream
!core/modules/stream/*.cpp
!core/modules/stream/*.h
!core/modules/ts
!core/modules/ts/*.cpp
!core/modules/ts/*.h
!core/util
!core/util/*.cpp
!core/util/*.h
!core/util/*.hpp
!core/util/rapidxml
!core/util/rapidxml/*.hpp
!core/util/rapidxml/license.txt

#Documentation generation (file for doxygen)
!doc
!doc/Doxyfile
!doc/header.html
!doc/footer.html
!doc/doc.css

#Scripts for analyse
!scripts
!scripts/*.hm
scripts/*.hmc

#Compiler part of the program
!compiler
!compiler/compiler.pro

#CLI
!cli
!cli/*.cpp
!cli/*.h

#GUI in qt 
!gui
!gui/hex
!gui/hex/*.cpp
!gui/hex/*.h
!gui/mt
!gui/tree
!gui/gui.pro
!gui/*.qrc
!gui/*.cpp
!gui/*.h
!gui/*.qrc
!gui/*.rc
!gui/*.ico
!gui/*.svg
!gui/tree/*.cpp
!gui/tree/*.h
!gui/thread/*.cpp
!gui/thread/*.h
!gui/log
!gui/log/*.h
!gui/log/*.cpp
gui/qrc_*.cpp

#models
!models
!models/*.csv
!models/*.xml

#Windows installer builder
!*.wxs

#Ignoring moc files
*moc_*

#Compiler files
!compiler
!compiler/Makefile
!compiler/compiler.h
!compiler/header.h
!compiler/ast.h
!compiler/write.h
!compiler/model.cpp
!compiler/compiler.flex
!compiler/compiler.y
!compiler/struct.h

#Pictures
!media
!media/*.svg

#Site
!site
!site/*.php
!site/*.css
!site/HexamonkeyGlobal.png

#Test files
!test
!test/test.pro
!test/*.cpp
!test/*.h
test/moc_*.cpp
!test/ressources/*
