
html, body 
{
	height: 100%;
	margin: 0;
	background-color: #888;
}

body
{
	max-width: 980px;
	margin:0 auto;
	font-family : "Verdana";
	font-size : 12px;
	text-align : justify;
}


a, a:visited
{
	color : #ff6600;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}


p 
{ 
	text-indent : 20px; 
	text-align : justify;
}

pre
{
	margin : 10px 30px;
}

a.installer, a.installer:hover
{
	margin: auto;
	padding : 10px 0px;
	display : table;
	color:white;
	background-color: #44aa00;
	font-weight:bold;
	vertical-align:middle;
	text-decoration:none;
	border-radius: 10px;
}

.installer p, .installer img
{
	vertical-align:middle;
	display:table-cell;
	padding : 0px 5px;
	text-decoration:none;
}

#page
{
	margin : 0px;
	background-color: #fff;
	-moz-box-shadow:    0px 0px 10px 4px #666;
	-webkit-box-shadow: 0px 0px 10px 4px #666;
	box-shadow:         0px 0px 10px 4px #666;
	border-radius : 0px 0px 10px 10px;
}

#content
{
	margin: 0px 20px 0px 190px;
}
#content h1
{
	font-size:16px;
	color:white;
	background-color: #44aa00;
	margin-top: 0px;
	padding: 6px 20px;
	border-radius : 10px;
	text-align : center;
}

#spacing
{
	padding : 5px;
}

#content .keyword
{
	color:#000080;
	font-weight:bold;
}

#content .comment, #content .string
{
	color:#008000;
}

#content .type
{
	color:#800080;
}

#content .variable
{
	color:#800000;
}

#content .reserved
{
	font-weight:bold;
}

#content .number
{
	color:#000080;
}

#content .function
{
	font-weight:bold;
	color:#808000;
}

#content pre.inline
{
	display:inline;
	margin:0px;
	padding:0px;
}

#content li
{
	margin : 3px 0px 10px;
}

#content li p
{
	text-indent:0px;
	margin : 2px 0px;
}

#content table
{
	margin : 5px 20px;
}

#content table pre
{
	margin : 5px 10px;
}

#navigation
{
	float:left;
	width:170px;
	margin:0px 10px 0px 20px 
}

#navigation #title, #navigation #navbar
{
	display:block;
	margin:5px;
	padding:5px;
}

#navigation #navbar h1
{
	padding : 0px;
	font-size : 14px;
	color : #ff6600;
	border-style:none;
	border-bottom:solid 1px #808080;
}

#navigation #navbar ul
{
	margin : 0px;
	padding : 0px 5px;
	list-style-type: none;
}

#navigation a
{
	display : block;
    margin : 0px;
	color : black;
}

#navigation a:hover
{
	color : #ff6600;
}

#footer
{
	text-align:center;
	clear:both;
	height: 30px;
}
